@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../assets/loader/inkling_spinner.gif') 50% 50% no-repeat;
    background-color: #fff;
}
.fixed-header{
    position:fixed;
    z-index:99;
    top:0;
    left:0;
    width:100%;
    margin:0;
    padding:0;
}
.white-header{
    background-color: #fff !important;
    /* border-bottom:solid;
    border-bottom-color:#415085;
    border-bottom-width:1px; */
}
.header-item{
    /* margin-right:10%;
    margin-left:10%; */
    /* margin-top:1%; */
    margin-left:1% !important;
    margin-right:1% !important;
    text-align:center;
}
.header-link{
    font-family:CERAROUNDPRO-REGULAR;
    color:#070E23 !important;
    font-size:14px;
    white-space: nowrap;
}
.text-center{
    text-align:center;
}
.no-margin{
    padding:0;
    margin:0;
}
.navbar-toggler-icon{
    background-image: url("../assets/icons/menu-symbol-of-three-parallel-lines.svg")  !important;
}
.ui-nav{
    /* padding-right: 7%; */
    width:65%;

}
.image-responsive{
    width:100%;
    height:auto;
}
.slide-section{
    width:100%;
}
.slide{
    width:100%;
    position:relative;
    margin-top:5%;
}
.round-slide-overlay{
    position:absolute;
    top:0%;
    width:50%;
    height:100%;
    border-top-right-radius: 100%;
    -webkit-border-top-right-radius: 100%;
    -moz-border-top-right-radius: 100%;
    opacity:0.5;
    background-color:#415085 !important;
}
.round-slide-overlay:hover{
    opacity:0.8;
}
.slide-content{
    position:absolute;
    top:17%;
    width:100%;
}
.slide-header{
    font-family:CERAROUNDPRO-REGULAR;
    opacity:1;
    font-size:9em;
    color:#FC8D00;
    text-align:center
}
.slide-text{
    font-family:CERA-ROUND-PRO-BOLD;
    font-size:60px;
    text-align:center;
    color:#fff;

}
.footer-bottom{
    background-color:#6382CE;
}
.footer-top{
    background-color:#98AAD8;
    padding-top:15px;
    padding-bottom:0px;
}
.copyright{
    font-family: CERAROUNDPRO-MEDIUM;
    font-size:12px;
    margin-top:14px;
    color:#fff;
}
.footer-ul{
    list-style-type: none;
    margin:0;
    padding:0;
}
.footer-a{
    color:#FFF;
    font-family:CERAROUNDPRO-MEDIUM;
    text-decoration: none !important;
    white-space: nowrap;
    font-size:14px;
}
.footer-li{
    padding:4px;
}
.footer-icon{
    color:#fff;
    font-size:30px;
    margin:7px;
    text-align: center;
}
.footer-header{
    color:#fff;
    font-family:CERAROUNDPRO-MEDIUM;
}
.reg-btn{

    text-align:center;
    color:#fff;
    font-family:CERA-ROUND-PRO-BOLD;
    background: #FC8D00;
    border-color:#FC8D00;
    font-size:25px;
    margin-top:5px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius:30px;
    -webkit-border-radius:30px;
    -moz-border-radius:30px;
}

.p-content{
    font-family: CERAROUNDPRO-LIGHT;
    text-align: justify;
    font-size:18px;

}
.t-content{
    font-family: CERAROUNDPRO-LIGHT;
    text-align: justify;
    line-height:26px;
    font-size:14px;
}
.b-content{
    font-family: CERAROUNDPRO-LIGHT;
    text-align: justify;
    font-size:14px;
}
.t-header{
    font-family:CERA-ROUND-PRO-BOLD;
}
.t-img{
    width:40%;
    text-align:center;
    margin-left:30%;
    padding:3px;
}
.b-image{
    width:100%;
    text-align:center;
    padding:3px;
}
.b-title{
    font-family:CERAROUNDPRO-MEDIUM;
    text-align:center;
    color:#FC8D00;
}
.section-title{
    font-family:CERA-ROUND-PRO-BOLD;
    color:#FC8D00;
}
.about-us-section{
    padding-top:30px;
    padding-bottom:30px;
    background-color: #F2F2F2;
}
.services-section{
    padding-top:30px;
    padding-bottom:30px;
    background-color: #F2F2F2;
}
.video-section{
    padding-top:30px;
    padding-bottom:30px;
    background-color: #F4DCBD;
}
.typed-cursor{
    /* color:#FC8D00; */
    color:#FFF;
}
.slide-header-container{
    height:180px;
    width:100%;
    text-align:center;
}
.logo-slider{
    margin-top:35%;
    margin-left:10%;

}
.whoweare-image{
    margin-bottom:10px;
    width:90%;
    -webkit-box-shadow: 2px -2px 10px -2px rgba(10,10,10,1);
    -moz-box-shadow: 2px -2px 10px -2px rgba(10,10,10,1);
    box-shadow: 2px -2px 10px -2px rgba(10,10,10,1);
}
.video-box{
    margin-top:10px;
    -webkit-box-shadow: 2px -2px 10px -2px rgba(10,10,10,1);
    -moz-box-shadow: 2px -2px 10px -2px rgba(10,10,10,1);
    box-shadow: 2px -2px 10px -2px rgba(10,10,10,1);
}
.video-tag {
    width: 100%    !important;
    height: auto   !important;
  }
.grow:hover
{
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05);
}
.why-us-section{

}
.delivery-model-section{
    padding-top:30px;
    padding-bottom:30px;
    background-color:#F4DCBD;
}
.no-padding{
    padding:0;
}
.div-relative{
    position: relative;
}
.content-why-us{
    position: absolute;
    top:5%;
    left:5%;
    width:90%;
    padding-top:30px;
    padding-bottom:30px;
}
.overlaydiv{
    position:absolute;
    top:0;
    width:100%;
    padding-top:25%;
    background-color: #000000;
    opacity:0.8;
}
.white{
    color:#fff !important;
}
.why-us-content{
    color:#FC8D00;
    font-family: CERAROUNDPRO-REGULAR;
    font-size:20px;
    text-align:left;
}
.font-regular{
    font-family: CERAROUNDPRO-REGULAR !important;
}
.why-us-title{
    font-size:50px;
}
.why-us-span{
    font-size:50px;
}
.service-icon-reponsive{
    width:35%;
    margin-left:auto;
    margin-right:auto;
}
.swing:hover
{
        -webkit-animation: swing 1s ease;
        animation: swing 1s ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
}
.services-header{
    color:#070E23;
    font-family: CERAROUNDPRO-MEDIUM;
}
.li-offer{
    text-align:left;
    font-family: CERAROUNDPRO-LIGHT;
    font-size:18px;
}
.ul-offer{
    text-align:left;
    list-style-type: circle;
}
.package-ul{
    margin:0;
    padding:0;
}
.package-li{
    list-style-type: none;
    font-family: CERAROUNDPRO-LIGHT;
    color:#070E23;
    font-size:15px;
    padding:10px;
    text-align:left;
}
.packages-title{
    font-family: CERA-ROUND-PRO-BOLD;
    font-size:30px;
    color:#FC8D00;
}
.packages-cash{
    font-family: CERAROUNDPRO-MEDIUM;
    font-size:45px;
    color:#415085 !important;
}
.packages-contact{
    font-family: CERAROUNDPRO-MEDIUM;
    color:#415085 !important;
}
.package-currency{
    font-family: CERAROUNDPRO-REGULAR;
    font-size:10px;
}
.card-shadow{
    -webkit-box-shadow: 0px 0px 11px -2px rgba(36,36,36,1);
    -moz-box-shadow: 0px 0px 11px -2px rgba(36,36,36,1);
    box-shadow: 0px 0px 11px -2px rgba(36,36,36,1);
}
.packages{
    background-image: url("../assets/images/pages/packagesBackground.jpg");
    background-size: cover;
}
.subscribe-btn{
    text-align:center;
    color:#fff;
    font-family:CERA-ROUND-PRO-BOLD;
    background: #415085;
    border-color:#415085;
    font-size:25px;
    margin-top:5px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top:5px;
    padding-bottom:5px;
    border-radius:30px;
    -webkit-border-radius:30px;
    -moz-border-radius:30px;
}
.blog-btn{
    text-align:center;
    color:#fff;
    font-family:CERA-ROUND-PRO-BOLD;
    background: #415085;
    border-color:#415085;
    font-size:12px;
    margin-top:5px;
    padding-right: 5px;
    padding-left: 5px;
    padding-top:5px;
    padding-bottom:5px;
    border-radius:20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
}
#map{
    height:500px;
}
.text-left{
    text-align: left;
}

.label-text{
    font-family: CERAROUNDPRO-MEDIUM;
}
.why-us-section_sec{
    background-color: #E6F2F4;
}
ul.why_us_sec{
    list-style-type: circle;
}
li.why_us_sec{
    font-family: CERAROUNDPRO-LIGHT;
    font-size:10px;
}
.package-size{
    min-height:385px;
}
.page-size{
    min-height:100vh;
    padding-top:10%;
}
.small-page-size{
    min-height:100vh;
    padding-top:3%;
    padding-bottom:3%;
}
.add-left-padding{
    padding-left: 30px !important;
}
/* .welcome-view-only{
    display:none;
} */
