@font-face {
    font-family: CERA-ROUND-PRO-BOLD;
    src: url("../assets/fonts/cera-rounded-pro/TYPEMATES-CERA-ROUND-PRO-BOLD.OTF"),
        url("../assets/fonts/cera-rounded-pro/TYPEMATES-CERA-ROUND-PRO-BOLD.eot");
}
@font-face {
    font-family: CERAROUNDPRO-BLACK;
    src: url("../assets/fonts/cera-rounded-pro/TYPEMATES-CERAROUNDPRO-BLACK.OTF")
        ,url("../assets/fonts/cera-rounded-pro/TYPEMATES-CERAROUNDPRO-BLACK.eot");
}
@font-face {
    font-family: CERAROUNDPRO-LIGHT;
    src: url("../assets/fonts/cera-rounded-pro/TYPEMATES-CERAROUNDPRO-LIGHT.OTF"),
        url("../assets/fonts/cera-rounded-pro/TYPEMATES-CERAROUNDPRO-LIGHT.eot");
}
@font-face {
    font-family: CERAROUNDPRO-MEDIUM;
    src: url("../assets/fonts/cera-rounded-pro/TYPEMATES-CERAROUNDPRO-MEDIUM.OTF"),
        url("../assets/fonts/cera-rounded-pro/TYPEMATES-CERAROUNDPRO-MEDIUM.eot");
}
@font-face {
    font-family: CERAROUNDPRO-REGULAR;
    src: url("../assets/fonts/cera-rounded-pro/TYPEMATES-CERAROUNDPRO-REGULAR.OTF")
        ,url("../assets/fonts/cera-rounded-pro/TYPEMATES-CERAROUNDPRO-REGULAR.eot");
}
@font-face {
    font-family: CERAROUNDPRO-THIN;
    src: url("../assets/fonts/cera-rounded-pro/TYPEMATES-CERAROUNDPRO-THIN.OTF"),
        url("../assets/fonts/cera-rounded-pro/TYPEMATES-CERAROUNDPRO-THIN.eot");
}
/* @font-face {
    font-family: OpenSans-Bold;
    src: url("../assets/fonts/open-sans/OpenSans-Bold.ttf");
}
@font-face {
    font-family: OpenSans-BoldItalic;
    src: url("../assets/fonts/open-sans/OpenSans-BoldItalic.ttf");
}
@font-face {
    font-family: OpenSans-ExtraBold;
    src: url("../assets/fonts/open-sans/OpenSans-ExtraBold.ttf");
}
@font-face {
    font-family: OpenSans-ExtraBoldItalic;
    src: url("../assets/fonts/open-sans/OpenSans-ExtraBoldItalic.ttf");
}
@font-face {
    font-family: OpenSans-Italic;
    src: url("../assets/fonts/open-sans/OpenSans-Italic.ttf");
}
@font-face {
    font-family: OpenSans-Light;
    src: url("../assets/fonts/open-sans/OpenSans-Light.ttf");
}
@font-face {
    font-family: OpenSans-LightItalic;
    src: url("../assets/fonts/open-sans/OpenSans-LightItalic.ttf");
}
@font-face {
    font-family: OpenSans-Regular;
    src: url("../assets/fonts/open-sans/OpenSans-Regular.ttf");
}
@font-face {
    font-family: OpenSans-Semibold;
    src: url("../assets/fonts/open-sans/OpenSans-Semibold.ttf");
}
@font-face {
    font-family: OpenSans-SemiboldItalic;
    src: url("../assets/fonts/open-sans/OpenSans-SemiboldItalic.ttf");
} */