@media screen and (max-width: 1024px) {
    .slide-header{
        font-size:6em;
    }
    .slide-text{
        font-size:57px;
    }
    .reg-btn{
        font-size:20px;
    }
    .ui-nav{
        /* padding-right: 7%; */
        width:90%;

    }
    .slide-header-container{
        height:115px;
    }
    .logo-slider{
        width:65%;
    }
    .why-us-title{
        font-size:35px;
    }
    .why-us-span{
        font-size:35px;
    }
    .why-us-content{

        font-size:25px;
    }

}
@media screen and (max-width: 992px) {
    .slide-header{
        font-size:7em;
    }
    .slide-text{
        font-size:57px;
    }
    .reg-btn{
        font-size:20px;
    }
    .ui-nav{
        /* padding-right: 7%; */
        width:100%;

    }
}
@media screen and (max-width: 600px) {
    .slide-header{
        font-size:2.2em;
    }
    .slide-text{
        font-size:20px;
    }
    .reg-btn{
        font-size:12px;
    }
    .ui-nav{
        /* padding-right: 7%; */
        width:100%;
    }
    .why-us-title{
        font-size:15px;
    }
    .why-us-span{
        font-size:15px;
    }
    .why-us-content{

        font-size:10px;
    }
    .content-why-us{
        padding-top:0px;
        padding-bottom:0px;
    }
    .p-content{
        font-size:14px;
    }
    .li-offer {
        font-size: 14px;
    }
}
@media (max-width: 768px) and (min-width: 600px) {
    .slide-header{
        font-size:6em;
    }
    .slide-text{
        font-size:40px;
    }
    .reg-btn{
        font-size:20px;
    }
    .ui-nav{
        /* padding-right: 7%; */
        width:100%;

    }
    .why-us-title{
        font-size:30px;
    }
    .why-us-span{
        font-size:25px;
    }
    .why-us-content{

        font-size:20px;
    }
}
@media screen and (max-width: 360px) {
    .slide-header{
        font-size:1.2em;
    }
    .slide-text{
        font-size:18px;
    }
    .reg-btn{
        font-size:12px;
    }
    .ui-nav{
        /* padding-right: 7%; */
        width:100%;

    }
    .why-us-title{
        font-size:12px;
    }
    .why-us-span{
        font-size:12px;
    }
    .why-us-content{

        font-size:8px;
    }
}
