/* your styles go here */
.template_box{

    border-bottom:solid;
    border-width:1px;
    padding-bottom:10px;
    margin-bottom:10px;
    border-bottom-color: #F8F9FB;
}

.template_search_box{
    padding:5px;
    border:solid;
    border-color: #F8F9FB;
    border-width:1px;
    margin-top:20px;
    margin:5px;
}
.background_transparent{
    background-color: transparent !important;
}
.btn-left{
    float: left !important;
}
.btn-right{
    float: right !important;
}
.hide{
    display:none;
}
