<template>
    <div>
        <section class="py-5">
            <div class="row">
            <div class="col-xl-3 col-lg-6 mb-4 mb-xl-0">
                <div class="bg-white shadow roundy p-4 h-100 d-flex align-items-center justify-content-between">
                <div class="flex-grow-1 d-flex align-items-center">
                    <div class="dot mr-3 bg-violet"></div>
                    <div class="text">
                    <h6 class="mb-0">Users</h6><span class="text-gray">{{users.length}}</span>
                    </div>
                </div>
                <div class="icon text-white bg-violet"><i class="fas fa-users"></i></div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 mb-4 mb-xl-0">
                <div class="bg-white shadow roundy p-4 h-100 d-flex align-items-center justify-content-between">
                <div class="flex-grow-1 d-flex align-items-center">
                    <div class="dot mr-3 bg-green"></div>
                    <div class="text">
                    <h6 class="mb-0">Templates</h6><span class="text-gray">{{templates.length}}</span>
                    </div>
                </div>
                <div class="icon text-white bg-green"><i class="far fa-clipboard"></i></div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 mb-4 mb-xl-0">
                <div class="bg-white shadow roundy p-4 h-100 d-flex align-items-center justify-content-between">
                <div class="flex-grow-1 d-flex align-items-center">
                    <div class="dot mr-3 bg-blue"></div>
                    <div class="text">
                    <h6 class="mb-0">Job Requests</h6><span class="text-gray">{{jobRequest.length}}</span>
                    </div>
                </div>
                <div class="icon text-white bg-blue"><i class="fas fa-briefcase"></i></div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 mb-4 mb-xl-0">
                <div class="bg-white shadow roundy p-4 h-100 d-flex align-items-center justify-content-between">
                <div class="flex-grow-1 d-flex align-items-center">
                    <div class="dot mr-3 bg-red"></div>
                    <div class="text">
                    <h6 class="mb-0">Account Types</h6><span class="text-gray">{{accountType.length}}</span>
                    </div>
                </div>
                <div class="icon text-white bg-red"><i class="fas fa-user-circle"></i></div>
                </div>
            </div>
            </div>
        </section>
        <section>
            <div class="row mb-4">
                <div class="col-lg-7 mb-4 mb-lg-0">
                <div class="card">
                    <div class="card-header">
                    <h2 class="h6 text-uppercase mb-0">Current server uptime</h2>
                    </div>
                    <div class="card-body">
                    <p class="text-gray">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <div class="chart-holder">
                        <canvas id="lineChart1" style="max-height: 14rem !important;" class="w-100"></canvas>
                    </div>
                    </div>
                </div>
                </div>
                <div class="col-lg-5 mb-4 mb-lg-0 pl-lg-0">
                <div class="card mb-3">
                    <div class="card-body">
                    <div class="row align-items-center flex-row">
                        <div class="col-lg-5">
                        <h2 class="mb-0 d-flex align-items-center"><span>86.4</span><span class="dot bg-green d-inline-block ml-3"></span></h2><span class="text-muted text-uppercase small">Work hours</span>
                        <hr><small class="text-muted">Lorem ipsum dolor sit</small>
                        </div>
                        <div class="col-lg-7">
                        <canvas id="pieChartHome1"></canvas>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                    <div class="row align-items-center flex-row">
                        <div class="col-lg-5">
                        <h2 class="mb-0 d-flex align-items-center"><span>1.724</span><span class="dot bg-violet d-inline-block ml-3"></span></h2><span class="text-muted text-uppercase small">Server time</span>
                        <hr><small class="text-muted">Lorem ipsum dolor sit</small>
                        </div>
                        <div class="col-lg-7">
                        <canvas id="pieChartHome2"></canvas>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 mb-4 mb-lg-0">
                <div class="card mb-3">
                    <div class="card-body">
                    <div class="row align-items-center mb-3 flex-row">
                        <div class="col-lg-5">
                        <h2 class="mb-0 d-flex align-items-center"><span>86%</span><span class="dot bg-violet d-inline-block ml-3"></span></h2><span class="text-muted text-uppercase small">Monthly Usage</span>
                        <hr><small class="text-muted">Lorem ipsum dolor sit</small>
                        </div>
                        <div class="col-lg-7">
                        <canvas id="pieChartHome3"></canvas>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                    <div class="row align-items-center flex-row">
                        <div class="col-lg-5">
                        <h2 class="mb-0 d-flex align-items-center"><span>$126,41</span><span class="dot bg-green d-inline-block ml-3"></span></h2><span class="text-muted text-uppercase small">All Income</span>
                        <hr><small class="text-muted">Lorem ipsum dolor sit</small>
                        </div>
                        <div class="col-lg-7">
                        <canvas id="pieChartHome4"></canvas>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
                <div class="col-lg-7">
                <div class="card">
                    <div class="card-header">
                    <h2 class="h6 text-uppercase mb-0">Total Overdue</h2>
                    </div>
                    <div class="card-body">
                    <p class="text-gray">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <div class="chart-holder">
                        <canvas id="lineChart2" style="max-height: 14rem !important;" class="w-100"></canvas>
                    </div>
                    </div>
                </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
    export default {
        methods:{
            readUser(url){
                var that = this;
                    window.axios.get(url).then(function(data){
                        console.log(data);
                        that.users = data.data.data;
                        that.next_page_url = data.data.next_page_url;
                        that.prev_page_url = data.data.prev_page_url;

                    }).catch(function(error){
                        alert(error);
                        console.log(error);
                    });
            }
            ,readTemplate(url){
                var that = this;
                    window.axios.get(url).then(function(data){
                        console.log(data);
                        that.templates = data.data.data;
                    }).catch(function(error){
                        alert(error);
                        console.log(error);
                    });
            },readJobRequest(url){
                var that = this;
                    window.axios.get(url).then(function(data){
                        console.log(data);
                        that.jobRequest = data.data.data;
                    }).catch(function(error){
                        alert(error);
                        console.log(error);
                    });
            },readAccountType(url){
                var that = this;
                    window.axios.get(url).then(function(data){
                        console.log(data);
                        that.accountType = data.data;
                    }).catch(function(error){
                        alert(error);
                        console.log(error);
                    });
            }

        },data(){
            return{
                users:[],
                templates:[],
                jobRequest:[],
                accountType:[]
            }
        },
        mounted() {
            console.log('Component mounted.');
            this.readUser("/api/user/");
            this.readTemplate("/api/templates/");
            this.readJobRequest("/api/jobrequest/");
            this.readAccountType("/api/accounttypes/");
        }
    }
</script>
