<template>
    <section class="py-5">
        <div class="row">
            <div class="col-lg-12 mb-5">
                    <div class="card">
                        <div class="card-header">
                        <h3 class="h6 text-uppercase mb-0">Job Request</h3>
                        </div>
                        <div class="card-body">
                            <table class="table table-striped table-sm card-text">
                                <thead>
                                    <tr>
                                    <th>#</th>
                                    <th>Email</th>
                                    <th>Subject</th>
                                    <th>Job Type</th>
                                    <th  class="text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(jobRequest , index) in jobRequestList" :key="jobRequest.id">
                                    <th scope="row">{{index + 1}}</th>
                                    <td>{{jobRequest.user_email}}</td>
                                    <td>{{jobRequest.subject}}</td>
                                    <td>{{jobRequest.job_type}}</td>
                                    <td>
                                        <button class="btn btn-primary" @click="complete(jobRequest.id)">Complete</button>
                                        <button class="btn btn-secondary" @click="show(jobRequest.id)">Show</button>
                                        <button class="btn btn-danger" @click="deleteJobRequest(jobRequest.id)">Delete</button>
                                    </td>
                                    </tr>
                                </tbody>
                            </table>
                            <button class="btn btn-danger btn-left" @click="read(prev_page_url)">Previous</button>
                            <button class="btn btn-secondary btn-right" @click="read(next_page_url)">Next</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 mb-5">
                    <div class="card">
                        <div class="card-header"><h3 class="h6 text-uppercase mb-0">Job Request Details</h3></div>
                        <div class="card-body">
                            <div v-if="profileVisible">
                                <b>Email:</b> {{jobRequestDetails.user_email}}
                                <br>
                                <b>Subject:</b> {{jobRequestDetails.subject}}
                                <br>
                                <b>Job Type:</b> {{jobRequestDetails.job_type}}
                                <br>
                                <b>Message:</b> {{jobRequestDetails.message}}
                                <br>
                                <button class="btn btn-primary" @click="complete(jobRequestDetails.id)">Complete</button>
                                <button class="btn btn-danger" @click="deleteJobRequest(jobRequestDetails.id)">Delete</button>
                            </div>
                            <div v-else>
                                <div v-if="loading">
                                    Loading...
                                </div>
                                <div v-else>
                                    <strong> No Job Request Selected Yet</strong>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
        </div>
    </section>
</template>

<script>
    export default {
        methods:{
            read(url){
                var that = this;
                window.axios.get(url).then(function(data){
                    console.log(data);
                    that.jobRequestList = data.data.data;
                    that.next_page_url = data.data.next_page_url;
                    that.prev_page_url = data.data.prev_page_url;
                }).catch(function(error){
                    alert(error);
                    console.log(error);
                });
            },show(id){
                var that = this;
                this.loading = true;
                window.axios.get("/api/jobrequest/"+id).then(function(data){
                    console.log(data);
                    that.jobRequestDetails = data.data;
                    that.profileVisible = true;
                    that.loading = false;
                }).catch(function(error){
                    that.loading = false;
                    console.log(error);
                });
            },complete(id){
                 window.axios.get("/api/jobrequest/"+id+"/edit").then(function(data){
                    console.log(data);
                    location.reload();
                }).catch(function(error){
                        alert(error);
                });
            },deleteJobRequest(id){
                window.axios({method:'delete', url:"/api/jobrequest/"+id}).then(function(data){
                    console.log(data);
                    location.reload();
                }).catch(function(error){
                        alert(error);
                });
            }

        },data(){
            return{
                jobRequestList : [],
                jobRequestDetails : [],
                profileVisible:false,
                loading:false,
                next_page_url:"",
                prev_page_url:"",
            }
        },
        mounted() {
            console.log('Component mounted.');
            this.read("/api/jobrequest/");
        }
    }
</script>
