<template>
    <section class="py-5">
        <div class="row">

            <div class="col-lg-12 mb-5">
                    <div class="card">
                        <div class="card-header">
                        <h3 class="h6 text-uppercase mb-0">User</h3>
                        </div>
                        <div class="card-body">
                            <table class="table table-striped table-sm card-text">
                                <thead>
                                    <tr>
                                    <th>#</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Email</th>
                                    <th>Phone Number</th>
                                    <th>Company</th>
                                    <th>Role</th>
                                    <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(user , index) in userList" :key="user.id">
                                        <th scope="row">{{index+1}}</th>
                                        <td>{{user.firstname}}</td>
                                        <td>{{user.lastname}}</td>
                                        <td>{{user.email}}</td>
                                        <td>{{user.phone_number}}</td>
                                        <td>{{user.company_name}}</td>
                                        <td>{{user.role}}</td>
                                        <td>
                                            <button class="btn btn-secondary" @click="show(user.id)">Show</button>
                                            <button class="btn btn-primary" @click="edit(user.id)">Edit</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <button class="btn btn-danger btn-left" @click="read(prev_page_url)">Previous</button>
                            <button class="btn btn-secondary btn-right" @click="read(next_page_url)">Next</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 mb-5">
                    <div class="card">
                        <div class="card-header">
                        <h3 class="h6 text-uppercase mb-0">User Details</h3>
                        </div>
                        <div class="card-body">
                            <div v-if="profileVisible">
                                <b>Name:</b>{{userDetails.lastname}} {{userDetails.firstname}}
                                <br>
                                <b>Email:</b> {{userDetails.email}}
                                <br>
                                <b>Phone Number:</b> {{userDetails.phone_number}}
                                <br>
                                <b>Company:</b> {{userDetails.company_name}}
                                <br>
                                <b>User Role:</b> {{userDetails.role}}
                                <br>
                                <button class="btn btn-danger" @click="changeRole(userDetails.id)">Change Role</button>
                                <button class="btn btn-primary" @click="edit(userDetails.id)">Edit</button>
                            </div>
                            <div v-else>
                                <div v-if="loading">
                                    Loading...
                                </div>
                                <div v-else>
                                    <strong> No User Selected Yet</strong>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
            </div>
            <div class="col-lg-7 mb-5">
                    <div class="card">
                        <div class="card-header">
                        <h3 class="h6 text-uppercase mb-0">Create User</h3>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label class="form-control-label text-uppercase">Firstname</label>
                                <input type="text" placeholder="First Name" class="form-control" v-model="userCreate.firstname">
                            </div>
                            <div class="form-group">
                                <label class="form-control-label text-uppercase">Lastname</label>
                                <input type="text" placeholder="Last Name" class="form-control" v-model="userCreate.lastname">
                            </div>
                            <div class="form-group">
                                <label class="form-control-label text-uppercase">Email</label>
                                <input type="email" placeholder="Email Address" class="form-control" v-model="userCreate.email">
                            </div>
                            <div class="form-group">
                                <label class="form-control-label text-uppercase">Phone Number</label>
                                <input type="number" placeholder="Phone Number" class="form-control" v-model="userCreate.phone_number">
                            </div>
                            <div class="form-group">
                                <label class="form-control-label text-uppercase">Company Name</label>
                                <input type="text" placeholder="Company Name" class="form-control" v-model="userCreate.company_name">
                            </div>
                            <div class="form-group">
                                <label class="form-control-label text-uppercase">Role</label>
                                <select class="form-control" v-model="userCreate.role">
                                    <option>admin</option>
                                    <option>user</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label text-uppercase">Password</label>
                                <input type="password" placeholder="Password" class="form-control" v-model="userCreate.password">
                            </div>
                            <div class="form-group">
                                <label class="form-control-label text-uppercase">Confirm Password</label>
                                <input type="password" placeholder="Password" class="form-control" v-model="userCreate.password_confirmation">
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary" @click="create()">Create User</button>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        methods:{
            read(url){
                var that = this;
                window.axios.get(url).then(function(data){
                    console.log(data);
                    that.userList = data.data.data;
                    that.next_page_url = data.data.next_page_url;
                    that.prev_page_url = data.data.prev_page_url;
                }).catch(function(error){
                    alert(error);
                    console.log(error);
                });
            },show(id){
                var that = this;
                this.loading = true;
                window.axios.get("/api/user/"+id).then(function(data){
                    console.log(data);
                    that.userDetails = data.data;
                    that.profileVisible = true;
                    that.loading = false;
                }).catch(function(error){
                    that.loading = false;
                    console.log(error);
                });
            },create(){
                var that = this;
                window.axios.post("/api/user/",{
                    firstname:this.userCreate.firstname,
                    lastname:this.userCreate.lastname,
                    email:this.userCreate.email,
                    phone_number:this.userCreate.phone_number,
                    company_name:this.userCreate.company_name,
                    role:this.userCreate.role,
                    password:this.userCreate.password,
                    password_confirmation:this.userCreate.password_confirmation
                })
                .then(function (response) {
                    console.log(response);
                    if(response.data.data=="success"){
                        location.reload();
                    }else{
                        alert(response.data.message);
                        }
                })
                .catch(function (error) {
                    console.log(error);
                });
            },changeRole(id){
                 window.axios.get("/api/user/"+id+"/edit").then(function(data){
                    console.log(data);
                    location.reload();
                }).catch(function(error){
                        alert(error);
                });
            }
        },data(){
            return{
                userList: [],
                userDetails: [],
                userCreate:[],
                profileVisible:false,
                loading:false,
                next_page_url:"",
                prev_page_url:"",
            }
        },
        mounted() {
            console.log('Component mounted.');
            this.read("/api/user/");
        }
    }
</script>
