<template>
    <section class="py-5">
        <div class="row">
            <div class="col-lg-8 mb-5">
                    <div class="card">
                        <div class="card-header">
                        <h3 class="h6 text-uppercase mb-0">Tickets</h3>
                        </div>
                        <div class="card-body">
                            <table class="table table-striped table-sm card-text">
                                <thead>
                                    <tr>
                                    <th>#</th>
                                    <th>Email</th>
                                    <th>Subject</th>
                                    <th>Ticket Status</th>
                                    <th class="text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(ticket , index) in ticketList" :key="ticket.id">
                                        <th scope="row">{{index+1}}</th>
                                        <td>{{ticket.user_id}}</td>
                                        <td>{{ticket.subject}}</td>
                                        <td>{{ticket.ticket_status}}</td>
                                        <td class="text-center"><button class="btn btn-primary" @click="complete(ticket.id)">Complete</button>
                                            <button class="btn btn-secondary" @click="show(ticket.id)">Show</button>
                                            <button class="btn btn-danger" @click="deleteJobRequest(ticket.id)">Delete</button></td>
                                    </tr>
                                </tbody>
                            </table>
                            <button class="btn btn-danger btn-left" @click="read(prev_page_url)">Previous</button>
                            <button class="btn btn-secondary btn-right" @click="read(next_page_url)">Next</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-5">
                    <div class="card">
                        <div class="card-header"><h3 class="h6 text-uppercase mb-0">Ticket Details</h3></div>
                        <div class="card-body">
                            <div v-if="profileVisible">
                                <b>Email:</b> {{ticketDetails.user_id}}
                                <br>
                                <b>Subject:</b> {{ticketDetails.subject}}
                                <br>
                                <b>Message:</b> {{ticketDetails.message}}
                                <br>
                                <b>Ticket Status:</b> {{ticketDetails.ticket_status}}
                                <br>
                                <button class="btn btn-primary" @click="complete(ticketDetails.id)">Complete</button>

                                <button class="btn btn-danger" @click="deleteJobRequest(ticketDetails.id)">Delete</button>
                            </div>
                            <div v-else>
                                <div v-if="loading">
                                    Loading...
                                </div>
                                <div v-else>
                                    <strong> No Job Request Selected Yet</strong>
                                </div>
                            </div>
                            <br>

                        </div>
                    </div>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        methods:{
            read(url){
                var that = this;
                window.axios.get(url).then(function(data){
                    console.log(data);
                    that.ticketList = data.data.data;
                    that.next_page_url = data.data.next_page_url;
                    that.prev_page_url = data.data.prev_page_url;
                }).catch(function(error){
                    alert(error);
                    console.log(error);
                });
            },show(id){
                var that = this;
                this.loading = true;
                window.axios.get("/api/tickets/"+id).then(function(data){
                    console.log(data);
                    that.ticketDetails = data.data;
                    that.profileVisible = true;
                    that.loading = false;
                }).catch(function(error){
                    that.loading = false;
                    console.log(error);
                });
            },deleteJobRequest(id){
                window.axios({method:'delete', url:"/api/tickets/"+id}).then(function(data){
                    console.log(data);
                    location.reload();
                }).catch(function(error){
                        alert(error);
                });
            },complete(id){
                 window.axios.get("/api/tickets/"+id+"/edit").then(function(data){
                    console.log(data);
                    location.reload();
                }).catch(function(error){
                        alert(error);
                });
            }
        },data(){
            return{
                ticketList : [],
                ticketDetails : [],
                profileVisible:false,
                loading:false,
                next_page_url:"",
                prev_page_url:"",
            }
        },
        mounted() {
            console.log('Component mounted.');
            this.read("/api/tickets/");
        }
    }
</script>
