<template>
    <section class="py-5">
        <div class="row">
            <div class="col-lg-12 mb-5">
                    <div class="card">
                        <div class="card-header">
                        <h3 class="h6 text-uppercase mb-0">Subscriptions table</h3>
                        </div>
                        <div class="card-body">
                            <table class="table table-striped table-sm card-text">
                                <thead>
                                    <tr>
                                    <th>#</th>
                                    <th>Subscription Name</th>
                                    <th>Subscription Amount</th>
                                    <th>SubScription Duration (Months)</th>
                                    <th class="text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(AccountType , index) in AccountTypeList" :key="AccountType.id">
                                    <th scope="row">{{index+1}}</th>
                                    <td>{{AccountType.subscription_name}}</td>
                                    <td>{{AccountType.subscription_amount}} Kobo</td>
                                    <td>{{AccountType.subscription_duration}}</td>
                                    <td>
                                        <button class="btn btn-secondary" @click="show(AccountType.id)">Show</button>
                                        <button class="btn btn-primary" @click="SetEdit(AccountType.id)">Edit</button>
                                        <button class="btn btn-danger" @click="deleteAccountType(AccountType.id)">Delete</button>
                                    </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-5">
                    <div class="card">
                        <div class="card-header"><h3 class="h6 text-uppercase mb-0">Subscription Details</h3></div>
                        <div class="card-body">
                            <div v-if="profileVisible">
                                <b>Subscription Name:</b> {{AccountTypeDetails.subscription_name}}
                                <br>
                                <b>Subscription Amount (Kobo)</b> {{AccountTypeDetails.subscription_amount}}
                                <br>
                                <b>Subscription Duration (Months):</b> {{AccountTypeDetails.subscription_duration}}
                                <br>
                                <b>Paystack Plan Codes:</b> {{AccountTypeDetails.paystack_plan_code}}
                                <br>
                                <button class="btn btn-secondary" @click="show(AccountTypeDetails.id)">Show</button>
                                <button class="btn btn-primary" @click="SetEdit(AccountTypeDetails.id)">Edit</button>
                                <button class="btn btn-danger" @click="deleteAccountType(AccountTypeDetails.id)">Delete</button>
                            </div>
                            <div v-else>
                                <div v-if="loading">
                                    Loading...
                                </div>
                                <div v-else>
                                    <strong> No Account Types Selected Yet</strong>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
            </div>
            <div class="col-lg-6 mb-5">
                <div class="card">
                    <div class="card-header">
                    <h3 class="h6 text-uppercase mb-0">Edit Subscription</h3>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label class="form-control-label text-uppercase">Subscription Name</label>
                            <input type="text" placeholder="Subscription Name" v-model="AccountTypeEdit.subscription_name" class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="form-control-label text-uppercase">Subscription Amount</label>
                            <input type="text" placeholder="Subscription Amount (Kobo)"  v-model="AccountTypeEdit.subscription_amount" class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="form-control-label text-uppercase">Subscription Duration</label>
                            <input type="text" disabled placeholder="Subscription Duration"  v-model="AccountTypeEdit.subscription_duration" class="form-control">
                            <input type="hidden"  v-model="AccountTypeEdit.id" >
                        </div>
                        <div class="form-group">
                            <label class="form-control-label text-uppercase">Plan Code</label>
                            <input type="text" disabled  v-model="AccountTypeEdit.paystack_plan_code" class="form-control">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary" @click="editPlanOnPayStack()">Edit Subscription</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 mb-5">
                <div class="card">
                    <div class="card-header">
                    <h3 class="h6 text-uppercase mb-0">Create Subscription</h3>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label class="form-control-label text-uppercase">Subscription Name</label>
                            <input type="text" placeholder="Subscription Name" v-model="AccountTypeCreate.subscription_name" class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="form-control-label text-uppercase">Subscription Amount (Kobo)</label>
                            <input type="text" placeholder="Subscription Amount"  v-model="AccountTypeCreate.subscription_amount" class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="form-control-label text-uppercase">Subscription Duration</label>
                            <select v-model="AccountTypeCreate.subscription_duration" class="form-control">
                                <option value="1" selected>Monthly</option>
                                <option value="12">Yearly</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary" @click="setPlanOnPaystack()">Create Subscription</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        methods:{
            read(url){
                var that = this;
                window.axios.get(url).then(function(data){
                    console.log(data);
                    that.AccountTypeList = data.data;
                }).catch(function(error){
                    alert(error);
                    console.log(error);
                });
            },deleteAccountType(id){
                window.axios({method:'delete', url:"/api/accounttypes/"+id}).then(function(data){
                    console.log(data);
                    location.reload();
                }).catch(function(error){
                        alert(error);
                });
            },show(id){
                var that = this;
                this.loading = true;
                window.axios.get("/api/accounttypes/"+id).then(function(data){
                    console.log(data);
                    that.AccountTypeDetails = data.data;
                    that.profileVisible = true;
                    that.loading = false;
                }).catch(function(error){
                    that.loading = false;
                    console.log(error);
                });
            },edit(){
                if(this.AccountTypeEdit.id != 0){
                    var that = this;
                    window.axios({method:'put', url:"/api/accounttypes/"+that.AccountTypeEdit.id+"?subscription_name="+that.AccountTypeEdit.subscription_name+"&subscription_amount="+that.AccountTypeEdit.subscription_amount+"&subscription_duration="+that.AccountTypeEdit.subscription_duration}).then(function(data){
                        console.log(data);
                        if(data.data.data = "success"){
                            location.reload();
                        }else{
                            alert(data.data.message);
                        }
                    }).catch(function(error){
                            alert(error);
                    });
                }else{
                    alert("Select An Account Types To Edit");
                }
            },SetEdit(id){
                if(id > 0){
                    var that = this;
                    window.axios.get("/api/accounttypes/"+id).then(function(data){
                        console.log(data);
                        that.AccountTypeEdit = data.data;
                    }).catch(function(error){
                        that.loading = false;
                        console.log(error);
                    });

                }
            },
            create(){
                var that = this;
                window.axios.post("/api/accounttypes/",{
                    subscription_name:this.AccountTypeCreate.subscription_name,
                    subscription_amount:this.AccountTypeCreate.subscription_amount,
                    subscription_duration:this.AccountTypeCreate.subscription_duration,
                    paystack_plan_code: this.AccountTypeCreate.Plan_Code
                })
                .then(function (response) {
                    console.log(response);
                    if(response.data.data=="success"){
                        location.reload();
                    }else{
                        alert(response.data.message);
                    }
                })
                .catch(function (error) {
                    console.log(error);
                    alert(error);
                });
            },
            editPlanOnPayStack(){
                if(this.AccountTypeEdit.paystack_plan_code){
                    var that = this;
                    delete window.axios.defaults.headers.common['X-Requested-With'];
                    delete window.axios.defaults.headers.common['X-CSRF-TOKEN'];
                    window.axios({method:'put', url:"https://api.paystack.co/plan/"+that.AccountTypeEdit.paystack_plan_code,
                    headers:{"Authorization":"Bearer "+sessionStorage.getItem('secret_key'),
                             'Content-Type': 'application/json'}
                             ,data:{ name:this.AccountTypeEdit.subscription_name,
                             amount:this.AccountTypeEdit.subscription_amount}
                            }).then(function(data){
                        console.log(data);
                        that.edit();

                    }).catch(function(error){
                            alert(error);
                    });
                }else{
                    alert("Select An Account Types To Edit");
                }
            }
            ,
            setPlanOnPaystack(){
                var that = this;
                var plan_timeline;
                if(this.AccountTypeCreate.subscription_duration==6){
                    plan_timeline = "monthly";
                }else if(this.AccountTypeCreate.subscription_duration==12){
                    plan_timeline = "annually";
                }
                delete window.axios.defaults.headers.common['X-Requested-With'];
                delete window.axios.defaults.headers.common['X-CSRF-TOKEN'];
                window.axios.post("https://api.paystack.co/plan",{
                    name:that.AccountTypeCreate.subscription_name,
                    amount:that.AccountTypeCreate.subscription_amount,
                    interval:plan_timeline
                },{headers:{"Authorization":"Bearer "+sessionStorage.getItem('secret_key'),
                             'Content-Type': 'application/json'
                            }})
                .then(function (response) {
                    console.log(response);
                    that.AccountTypeCreate.Plan_Code = response.data.data.plan_code;
                    that.create();
                })
                .catch(function (error) {
                    console.log(error);
                });
            }

        },data(){
            return{
                AccountTypeList : [],
                AccountTypeDetails : [],
                AccountTypeEdit: [],
                AccountTypeCreate: [],
                profileVisible:false,
                loading:false,
            }
        },
        mounted() {
            console.log('Component mounted.');
            this.read("/api/accounttypes")
        }
    }
</script>
