<template>
    <div >
        <section class="py-5">
            <div class="row">
                <div class="col-lg-6 mb-5">
                    <div class="card">
                        <div class="card-header">
                        <h3 class="h6 text-uppercase mb-0">Add Template</h3>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label class="form-control-label text-uppercase">Template Name</label>
                                <input type="text" placeholder="Template Name" v-model="addTemplate.template_name" class="form-control">
                            </div>
                            <div class="form-group">
                            <label class="form-control-label text-uppercase">Template Category</label>
                            <input type="text" placeholder="Template Categories" v-model="addTemplate.template_category" class="form-control">
                            </div>
                            <div class="form-group">
                            <label class="form-control-label text-uppercase">Template Description</label>
                            <input type="text" placeholder="Template Description" v-model="addTemplate.template_description" class="form-control">
                            </div>
                            <div class="form-group">
                            <label class="form-control-label text-uppercase">Upload Template</label>
                            <input type="file" class="form-control" v-on:change="templateUpload">
                            </div>
                            <div class="form-group">
                            <button type="submit" class="btn btn-primary" @click="add()">Add Template</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-5">
                    <div class="card">
                        <div class="card-header">
                        <h3 class="h6 text-uppercase mb-0">Edit Template</h3>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label class="form-control-label text-uppercase">Template Name</label>
                                <input type="text" placeholder="Template Name" v-model="editTemplateName" class="form-control">
                            </div>
                            <div class="form-group">
                                <label class="form-control-label text-uppercase">Template Category</label>
                                <input type="text" placeholder="Template Categories"  v-model="editTemplateCategory" class="form-control">
                                <input type="hidden"  v-model="editId" >
                            </div>
                            <div class="form-group">
                                <label class="form-control-label text-uppercase">Template Description</label>
                                <input type="text" placeholder="Template Categories"  v-model="editTemplateDescription" class="form-control">
                                <input type="hidden"  v-model="editId" >
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary" @click="edit()">Edit Template</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 mb-5">
                        <div class="card">
                            <div class="card-header">
                            <h3 class="h6 text-uppercase mb-0">TEMPLATES</h3>
                            </div>
                            <div class="card-body">
                                <table class="table table-striped table-sm card-text">
                                    <thead>
                                        <tr>
                                        <th>#</th>
                                        <th>Template Name</th>
                                        <th>Template Category</th>
                                        <th colspan="4" class="text-center">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(template , index) in templateList" :key="template.id">
                                            <th scope="row">{{index + 1}}</th>
                                            <td>{{template.template_name}}</td>
                                            <td>{{template.template_category}}</td>
                                            <td><a :href="storageSrc+template.template_url" download><button class="btn btn-primary" >Download</button></a></td>
                                            <td><button class="btn btn-secondary" @click="setEdit(template.id)">Edit</button></td>
                                            <td><button class="btn btn-danger" @click="deleteTemplate(template.id)">Delete</button></td>
                                            <td><button class="btn btn-info" @click="getTemplateDetails(template.id)">Show</button></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <button class="btn btn-danger btn-left" @click="read(prev_page_url)">Previous</button>
                                <button class="btn btn-secondary btn-right" @click="read(next_page_url)">Next</button>
                            </div>
                        </div>
                    </div>
                <div class="col-lg-3 mb-5">
                    <div class="card">
                        <div class="card-header">
                        <h3 class="h6 text-uppercase mb-0">Template Details</h3>
                        </div>
                        <div class="card-body">
                            <div style="font-size:12px;" v-if="profileVisible">
                            <b>Template Name:</b> {{templateDetails.template_name}}
                            <br>
                            <b>Template Category:</b> {{templateDetails.template_category}}
                            <br>
                            <b>Template Description:</b> {{templateDetails.template_description}}
                            <br>
                            <a :href="storageSrc+templateDetails.template_url" download><button class="btn btn-primary" >Download</button></a>
                            <br>
                            <b>View Count:</b> {{templateDetails.template_view_count}}
                            </div>
                            <div v-else>
                                <div v-if="loading">
                                    Loading...
                                </div>
                                <div v-else>
                                    <strong> No Template Selected Yet</strong>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
                </div>
        </section>
    </div>
</template>

<script>
    export default {
        methods:{
            read(url){
                var that = this;
                window.axios.get(url).then(function(data){
                    console.log(data);
                    that.templateList = data.data.data;
                    that.next_page_url = data.data.next_page_url;
                    that.prev_page_url = data.data.prev_page_url;
                }).catch(function(error){
                    console.log(error);
                });
            },
            getTemplateDetails(id){

                var that = this;
                this.loading = true;
                window.axios.get("/api/templates/"+id).then(function(data){
                    console.log(data);
                    that.templateDetails = data.data;
                    that.profileVisible = true;
                    that.loading = false;
                }).catch(function(error){
                    that.loading = false;
                    console.log(error);
                });

            },
            setEdit(id){
                    var that = this;
                    window.axios.get("/api/templates/"+id).then(function(data){
                        console.log(data);
                        that.editTemplateName = data.data.template_name;
                        that.editTemplateCategory = data.data.template_category;
                        that.editTemplateDescription = data.data.template_description;
                        that.editId = data.data.id;
                    }).catch(function(error){
                        console.log(error);
                    });
            },
            deleteTemplate(id){

                window.axios({method:'delete', url:"/api/templates/"+id}).then(function(data){
                    console.log(data);
                    location.reload();
                }).catch(function(error){
                        alert(error);
                });

            },edit(){
                if(this.editId != 0){
                    var that = this;
                    window.axios({method:'put', url:"/api/templates/"+that.editId+"?template_name="+that.editTemplateName+"&template_category="+that.editTemplateCategory+"&template_description="+that.editTemplateDescription}).then(function(data){
                        console.log(data);
                        if(data.data.data = "success"){
                            location.reload();
                        }else{
                            alert(data.data.message);
                        }
                    }).catch(function(error){
                            alert(error);
                    });
                }else{
                    alert("Select A Template To Edit");
                }


            },add(){
                var that = this;
                var formData = new FormData();
                formData.append("template_name", this.addTemplate.template_name);
                formData.append("template_category", this.addTemplate.template_category);
                formData.append("template_description", this.addTemplate.template_description);
                formData.append("template_file", this.addTemplate.upload,this.addTemplate.template_name);
                window.axios.post("/api/templates/",formData)
                .then(function (response) {
                    console.log(response);
                    if(response.data.data=="success"){
                        location.reload();
                    }else{
                        alert(response.data.message);                    }

                })
                .catch(function (error) {
                    console.log(error);
                });

            },templateUpload(event){
                console.log(event);
                var file = event.target.files || event.dataTransfer.files;
                if (!file.length)
                    return;
                    this.addTemplate.upload = file[0];
            }

        },data(){
            return{
                templateDetails:[],
                templateList:[],
                addTemplate:[],
                editTemplate:[],
                editTemplateName:"",
                editId:0,
                editTemplateCategory:"",
                editTemplateDescription:"",
                profileVisible : false,
                loading : false,
                storageSrc:"/storage/",
                next_page_url:"",
                prev_page_url:"",
            }
        },
        mounted() {
            this.read("/api/templates");
            console.log('Component mounted.');
        }
    }
</script>
