<template>

        <div>
        <h3 class="section-title text-center">Contact Form</h3>
                <div class="form-group">
                    <label class="label-text" for="fullname">Full name</label>
                    <input type="text" class="form-control" id="fullname" placeholder="Full name" v-model="addJobRequest.username">
                </div>
                <div class="form-group">
                    <label class="label-text" for="Email">Email address</label>
                    <input type="email" class="form-control" id="Email" aria-describedby="emailHelp" placeholder="Enter email" v-model="addJobRequest.user_email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <label class="label-text" for="subject">Subject</label>
                    <input type="text" class="form-control" id="subject" placeholder="Subject" v-model="addJobRequest.subject">
                </div>
                <div class="form-group">
                    <label class="label-text" for="Body">Message</label>
                    <textarea class="form-control" id="Body" rows="3" v-model="addJobRequest.message"></textarea>
                </div>
                    <button type="submit" class="btn btn-primary reg-btn" @click="sendJobRequest()">Submit</button>
        </div>

</template>

<script>
    export default {
        methods:{
            sendJobRequest(){
                var that = this;
                var formData = new FormData();

                window.axios.post("/api/jobrequest/",{
                    user_email: this.addJobRequest.user_email,
                    user_name:this.addJobRequest.user_name,
                    job_type:"User Job Request",
                    subject: this.addJobRequest.subject,
                    message: this.addJobRequest.message,
                })
                .then(function (response) {
                    console.log(response);
                    if(response.data.data=="success"){
                        location.reload();
                    }else{
                        alert(response.data.message);
                }
                })
                .catch(function (error) {
                    console.log(error);
                });
            }
                    },
        data(){
            return{
                addJobRequest:[]
            }
        },
        mounted() {
            console.log('Component mounted.');
            this.read("/api/jobrequest/"+window.jQuery("#user_email").val()+"/show");
        }
    }
</script>
