<template>
    <section class="py-5">
        <div class="row">
            <div class="col-lg-7 mb-5">
                <div class="card">
                    <div class="card-header">
                    <h3 class="h6 text-uppercase mb-0">My Tickets</h3>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped table-sm card-text">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Email</th>
                                <th>Subject</th>
                                <th>Ticket Status</th>
                                <th class="text-center">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(ticket , index) in ticketList" :key="ticket.id">
                                    <th scope="row">{{index+1}}</th>
                                    <td>{{ticket.user_id}}</td>
                                    <td>{{ticket.subject}}</td>
                                    <td>{{ticket.ticket_status}}</td>
                                    <td class="text-center">
                                    <button class="btn btn-secondary" @click="show(ticket.id)">Show</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                </div>
                <div class="col-lg-5 mb-5">
                    <div class="card">
                        <div class="card-header"><h3 class="h6 text-uppercase mb-0">Ticket Details</h3></div>
                        <div class="card-body">
                            <div v-if="profileVisible">
                                <b>Email:</b> {{ticketDetails.user_id}}
                                <br>
                                <b>Subject:</b> {{ticketDetails.subject}}
                                <br>
                                <b>Message:</b> {{ticketDetails.message}}
                                <br>
                                <b>Ticket Status:</b> {{ticketDetails.ticket_status}}
                                <br>
                            </div>
                            <div v-else>
                                <div v-if="loading">
                                    Loading...
                                </div>
                                <div v-else>
                                    <strong> No Ticket Selected Yet</strong>
                                </div>
                            </div>
                            <br>

                        </div>
                    </div>
            </div>
            <div class="col-lg-12 mb-5">
                <div class="card">
                    <div class="card-header">
                    <h3 class="h6 text-uppercase mb-0">Send Ticket</h3>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label class="form-control-label text-uppercase">Subject</label>
                            <input type="text" placeholder="Subject" class="form-control" v-model="addTicket.subject">
                        </div>
                        <div class="form-group">
                            <label class="form-control-label text-uppercase">Message</label>
                            <textarea class="form-control" row="60" col="60" v-model="addTicket.message"></textarea>
                        </div>
                        <div class="form-group">
                        <button type="submit" class="btn btn-primary" @click="sendTicket()">Send</button>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
    </section>
</template>

<script>
    export default {
         methods:{
            read(url){
                var that = this;
                if(url){
                    window.axios.get(url).then(function(data){
                        console.log(data);
                        that.ticketList = data.data;

                    }).catch(function(error){
                        alert(error);
                        console.log(error);
                    });
                }
            },show(id){
                var that = this;
                this.loading = true;
                window.axios.get("/api/tickets/"+id).then(function(data){
                    console.log(data);
                    that.ticketDetails = data.data;
                    that.profileVisible = true;
                    that.loading = false;
                }).catch(function(error){
                    that.loading = false;
                    console.log(error);
                });
            },deleteTicket(id){
                window.axios({method:'delete', url:"/api/tickets/"+id}).then(function(data){
                    console.log(data);
                    location.reload();
                }).catch(function(error){
                        alert(error);
                });
            }
            ,sendTicket(){

                var that = this;
                var formData = new FormData();
                var user_id = window.jQuery("#userid").val();

                window.axios.post("/api/tickets/",{
                    user_id: user_id,
                    subject: this.addTicket.subject,
                    message: this.addTicket.message,
                })
                .then(function (response) {
                    console.log(response);
                    if(response.data.data=="success"){
                        location.reload();
                    }else{
                        alert(response.data.message);
                 }
                })
                .catch(function (error) {
                    console.log(error);
                });
            }
         },
        mounted() {
            console.log('Component mounted.');
            this.read("/api/tickets/"+window.jQuery("#userid").val()+"/show");
        }
        ,data(){
            return{
                ticketList : [],
                ticketDetails : [],
                addTicket:[],
                profileVisible:false,
                loading:false,
                next_page_url:"",
                prev_page_url:""
            }
        },
    }
</script>
