<template>
    <section class="py-5">
        <div class="row">
            <div class="col-lg-12 mb-5">
                <div class="card">
                    <div class="card-header">
                    <h3 class="h6 text-uppercase mb-0">Job Request</h3>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped table-sm card-text">
                            <thead>
                                <tr>
                                <th>#</th>
                                <th>Email</th>
                                <th>Subject</th>
                                <th>Job Type</th>
                                <th  class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(jobRequest , index) in jobRequestList" :key="jobRequest.id">
                                <th scope="row">{{index + 1}}</th>
                                <td>{{jobRequest.user_email}}</td>
                                <td>{{jobRequest.subject}}</td>
                                <td>{{jobRequest.job_type}}</td>
                                <td class="text-center">
                                    <button class="btn btn-secondary" @click="show(jobRequest.id)">Show</button>
                                </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-5">
                <div class="card">
                    <div class="card-header">
                    <h3 class="h6 text-uppercase mb-0">Job Request Details</h3>
                    </div>
                    <div class="card-body">
                        <div v-if="profileVisible">
                            <b>Email:</b> {{jobRequestDetails.user_email}}
                            <br>
                            <b>Subject:</b> {{jobRequestDetails.subject}}
                            <br>
                            <b>Job Type:</b> {{jobRequestDetails.job_type}}
                            <br>
                            <b>Message:</b> {{jobRequestDetails.message}}
                            <br/>
                        </div>
                        <div v-else>
                            <div v-if="loading">
                                Loading...
                            </div>
                            <div v-else>
                                <strong> No Job Request Selected Yet</strong>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-5">
                <div class="card">
                    <div class="card-header">
                    <h3 class="h6 text-uppercase mb-0">Send Job Request</h3>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label class="form-control-label text-uppercase">Subject</label>
                            <input type="text" placeholder="Subject" class="form-control" v-model="addJobRequest.subject">
                        </div>
                        <div class="form-group">
                            <label class="form-control-label text-uppercase">Message</label>
                            <textarea class="form-control" row="60" col="60" v-model="addJobRequest.message"></textarea>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary" @click="sendJobRequest()">Send Job Request</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        methods:{
            read(url){
                if(url){
                    var that = this;
                    window.axios.get(url).then(function(data){
                        console.log(data);
                        that.jobRequestList = data.data;
                        that.next_page_url = data.data.next_page_url;
                        that.prev_page_url = data.data.prev_page_url;
                    }).catch(function(error){
                        alert(error);
                        console.log(error);
                    });
                }
            },show(id){
                var that = this;
                this.loading = true;
                window.axios.get("/api/jobrequest/"+id).then(function(data){
                    console.log(data);
                    that.jobRequestDetails = data.data;
                    that.profileVisible = true;
                    that.loading = false;
                }).catch(function(error){
                    that.loading = false;
                    console.log(error);
                });
            },sendJobRequest(){

                var that = this;
                var formData = new FormData();
                var user_email = window.jQuery("#user_email").val();

                window.axios.post("/api/jobrequest/",{
                    user_email: user_email,
                    user_name:window.jQuery("#user_name").val(),
                    job_type:"User Job Request",
                    subject: this.addJobRequest.subject,
                    message: this.addJobRequest.message,
                })
                .then(function (response) {
                    console.log(response);
                    if(response.data.data=="success"){
                        location.reload();
                    }else{
                        alert(response.data.message);
                 }
                })
                .catch(function (error) {
                    console.log(error);
                });
            }
        },
        data(){
            return{
                jobRequestList:[],
                addJobRequest:[],
                jobRequestDetails:[],
                searchJobRequest:"",
                profileVisible:false,
                loading:false,
                storageSrc:"/storage/",
                next_page_url:"",
                prev_page_url:"",
            }
        },
        mounted() {
            console.log('Component mounted.');
            this.read("/api/jobrequest/"+window.jQuery("#user_email").val()+"/show");
        }
    }
</script>
