<template>
    <section class="py-5">
        <div class="row">
                <div class="col-lg-12 mb-5">
                    <div class="card">
                        <div class="card-header">
                        <h3 class="h6 text-uppercase mb-0">Edit User</h3>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label class="form-control-label text-uppercase">Firstname</label>
                                <input type="text" placeholder="First Name" class="form-control" v-model="userEdit.firstname">
                            </div>
                            <div class="form-group">
                                <label class="form-control-label text-uppercase">Lastname</label>
                                <input type="text" placeholder="Last Name" class="form-control" v-model="userEdit.lastname">
                            </div>
                            <div class="form-group">
                                <label class="form-control-label text-uppercase">Email</label>
                                <input type="text" disabled placeholder="Company Name" class="form-control" v-model="userEdit.email">
                            </div>
                            <div class="form-group">
                                <label class="form-control-label text-uppercase">Phone Number</label>
                                <input type="number" placeholder="Phone Number" class="form-control" v-model="userEdit.phone_number">
                            </div>
                            <div class="form-group">
                                <label class="form-control-label text-uppercase">Company Name</label>
                                <input type="text" placeholder="Company Name" class="form-control" v-model="userEdit.company_name">
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary" @click="edit()">Edit User</button>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </section>
</template>

<script>
    import paystack from 'vue-paystack';
    export default {
        components: {
            paystack
        },
         methods:{
             read(){
                var that = this;
                window.axios.get("/api/user/"+this.user_id).then(function(data){
                    console.log(data);
                    that.userEdit = data.data;
                }).catch(function(error){
                    console.log(error);
                });
            }, edit(){
                var that = this;
                window.axios({method:'put', url:"/api/user/"+this.user_id+"?firstname="+this.userEdit.firstname+"&lastname="+this.userEdit.lastname+"&phone_number="+this.userEdit.phone_number+"&company_name="+this.userEdit.company_name+"&role="+this.userEdit.role+"&email="+this.userEdit.email}).then(function(data){
                    console.log(data);
                    if(data.data.data = "success"){
                            location.reload();
                        }else{
                            alert(data.data.message);
                    }
                }).catch(function(error){
                    alert(error);
                });
            },readAccountTypes(url){
                var that = this;
                window.axios.get(url).then(function(data){
                    console.log(data);
                    that.AccountTypeList = data.data;
                }).catch(function(error){
                    alert(error);
                    console.log(error);
                });
            },SubscriptionSuccess(){
                console.log("response");
            },SubscriptionClose(){
                console.log("Close");
            },setPaystack(SubscriptionPackage){
                window.jQuery(".hide").hide();
                console.log(SubscriptionPackage);
                window.jQuery("#"+SubscriptionPackage.id).show();
                this.SelectedSubcriptionPackage = SubscriptionPackage;
            },SetSubscriptionPackage(){
                var that = this;
                window.axios.post("/api/user/subscribe",{
                    user_id: this.user_id,
                    subscription_type: this.SelectedSubcriptionPackage.subscription_name,
                    subscription_duration: this.SelectedSubcriptionPackage.subscription_duration,
                })
                .then(function (response) {
                    console.log(response);
                //     if(response.data.data=="success"){
                //         location.reload();
                //     }else{
                //         alert(response.data.message);
                //  }
                })
                .catch(function (error) {
                    console.log(error);
                });
            }
            ,callback: function(response){
                console.log(response);
                this.SetSubscriptionPackage();

            },
            close: function(){
                console.log("Payment closed")
            },getCustomerInfo(){
                var that = this;
                delete window.axios.defaults.headers.common['X-Requested-With'];
                delete window.axios.defaults.headers.common['X-CSRF-TOKEN'];
                window.axios.get("https://api.paystack.co/customer/"+this.email,
                {headers:{"Authorization":"Bearer "+sessionStorage.getItem('secret_key'),
                             'Content-Type': 'application/json'}}).then(function(data){
                    console.log(data);
                    that.paystackCustomerInfo = data.data.data;
                    console.log(that.paystackCustomerInfo);
                }).catch(function(error){
                    that.loading = false;
                    console.log(error);
                });
            },enableAutoRenewal(){
                var that = this;
                delete window.axios.defaults.headers.common['X-Requested-With'];
                delete window.axios.defaults.headers.common['X-CSRF-TOKEN'];
                window.axios.post("https://api.paystack.co/subscription/enable",{"code":this.paystackCustomerInfo.subscriptions[0].subscription_code,"token":this.paystackCustomerInfo.subscriptions[0].email_token}
                    ,{headers:{"Authorization":"Bearer "+sessionStorage.getItem('secret_key'),'Content-Type': 'application/json'}})
                .then(function (response) {
                    console.log(response);
                    alert(response.data.message);
                    that.paystackCustomerInfo.subscriptions[0].status = "active";
                })
                .catch(function (error) {
                    console.log(error);
                });
            },disableAutoRenewal(){
                    var that = this;
                    delete window.axios.defaults.headers.common['X-Requested-With'];
                    delete window.axios.defaults.headers.common['X-CSRF-TOKEN'];
                window.axios.post("https://api.paystack.co/subscription/disable",
                    {"code":this.paystackCustomerInfo.subscriptions[0].subscription_code,"token":this.paystackCustomerInfo.subscriptions[0].email_token}
                    ,{headers:{"Authorization":"Bearer "+sessionStorage.getItem('secret_key'),'Content-Type': 'application/json'}})
                .then(function (response) {
                    console.log(response);
                    alert(response.data.message);
                    that.paystackCustomerInfo.subscriptions[0].status = "complete";
                })
                .catch(function (error) {
                    console.log(error);
                });
            }
        },
        data(){
            return{
                userEdit:[],
                paystackCustomerInfo:[],
                AccountTypeList:[],
                SelectedSubcriptionPackage:[],
                user_id: window.jQuery("#user_id").val(),
                paystackkey: sessionStorage.getItem('public_key'), //paystack public key
                email: window.jQuery("#user_email").val(), // Customer email
            }
        },
        computed: {
        reference(){
            let text = "";
            let possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

            for( let i=0; i < 10; i++ )
            text += possible.charAt(Math.floor(Math.random() * possible.length));

            return text;
        }
        },
        mounted() {
            console.log('Component mounted.');
            this.read();
            this.readAccountTypes("/api/accounttypes");
            this.getCustomerInfo();
        }
    }
</script>
