<template>
    <section class="py-5">
        <div class="row">
            <div class="col-lg-12 mb-5">
                    <div class="card">
                            <div class="card-header">
                            <h3 class="h6 text-uppercase mb-0">Templates</h3>
                            </div>
                            <div class="form-group position-relative mb-0 template_search_box">
                                <button type="submit" @click="search()"  style="top: -2px; left: 2;" class="position-absolute bg-white background_transparent border-0 p-0"><i class="o-search-magnify-1 text-gray text-lg"></i></button>
                                <input type="search" v-model="searchTemplate" @keyup.enter="search()" placeholder="Search ..." class="form-control form-control-sm border-0 no-shadow pl-4">
                            </div>
                            <div class="card-body">
                                        <div class="template_box" v-for="template in templateList" :key="template.id">
                                            <h4><strong>{{template.template_name}}</strong></h4>
                                            <h6>{{template.template_category}}</h6>
                                            <p>{{template.template_description}}</p>
                                            <a :href="storageSrc+template.template_url" download><button class="btn btn-primary" >Download</button></a>
                                        </div>
                            <button class="btn btn-danger btn-left" @click="read(prev_page_url)">Previous</button>
                            <button class="btn btn-secondary btn-right" @click="read(next_page_url)">Next</button>
                            </div>
                        </div>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        methods:{
            read(url){
                var that = this;
                window.axios.get(url).then(function(data){
                    console.log(data);
                    that.templateList = data.data.data;
                    that.next_page_url = data.data.next_page_url;
                    that.prev_page_url = data.data.prev_page_url;
                }).catch(function(error){
                    console.log(error);
                });
            },
            search(){
                if(this.searchTemplate){
                    this.templateList = [];
                    var that = this;
                    window.axios.get("/api/templates/"+this.searchTemplate+"/search").then(function(data){
                        console.log(data);
                        that.templateList = data.data;
                        if(data.data.length == 0){
                            alert("Search Result Empty");
                        }
                    }).catch(function(error){
                        console.log(error);
                    });
                }
            }
        }
        ,data(){
            return{
                templateList:[],
                searchTemplate:"",
                storageSrc:"/storage/",
                next_page_url:"",
                prev_page_url:"",
            }
        },

        mounted() {
            this.read("/api/templates");
            console.log('Component mounted.')
        }
    }
</script>
